@model PrescriptionProcessing.Models.PrescriptionModel

@{
    ViewData["Title"] = "CreatePrescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Prescription</h1>

@*<h4>PrescriptionModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="IdPrescription" class="control-label"></label>
                <input asp-for="IdPrescription" class="form-control" />
                <span asp-validation-for="IdPrescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label"></label>
                <input asp-for="IdEmployee" class="form-control" />
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrder" class="control-label"></label>
                <input asp-for="IdOrder" class="form-control" />
                <span asp-validation-for="IdOrder" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
